<ion-header>
  <ion-toolbar>
    <ion-title>
      Results
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="assets/windtel_logo.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;"></ion-img>
    <ion-card-header>
      <ion-card-title>Experiment Results</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <app-results-slides></app-results-slides>
    </ion-card-content>
  </ion-card>
</ion-content>
